.challenges {
  padding: 0;
}

.challenge {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color: #ba99e3;
  border: solid 1px #000000;
}

.challenge .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.challenge.concealed .content {
  color: transparent;
  text-shadow: 0 0 0.5rem #000000;
}

.challenge .highlight {
  background-color: moccasin;
}
