body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  background-color: #8940e3;
}

header {
  text-align: center;
}

header h1 {
  font-size: 5rem;
  font-weight: bolder;
}

header img {
  object-fit: contain;
  max-width: 50vw;
  max-height: 50vh;
}

main {
  text-align: center;
}
