{%- assign puzzles = site.puzzles | reverse -%}
{%- assign trimmed_content = content | strip -%}
{%- assign now = "now" | date: "%s" -%}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      <figure class="hero">
        <img alt="Logo consisting of speech bubble containing the expression &quot;^.*$&quot;" src="/assets/logo-landing.png">

        <h1>regexed</h1>
      </figure>
      <article>
        {%- if trimmed_content != "" -%}
          <p>{{ trimmed_content }}</p>
        {%- endif -%}
      </article>
      {%- for puzzle in puzzles -%}
        {%- assign puzzle_number = puzzle.id | split: "/" | last -%}
        {%- assign puzzle_date = puzzle.date | date: "%s" -%}
        {%- if puzzle_date <= now or site.show_drafts -%}
          <div
            id="landing"
            data-puzzle-number="{{puzzle_number | escape}}"
            data-play-url="{{ puzzle.id |  escape }}"></div>
          {% include puzzleCard.html href=puzzle.id date=puzzle.date puzzle_number=puzzle_number author=puzzle.author title=puzzle.title %}
          {% break %}
        {%- endif -%}
      {%- endfor -%}
    </main>
    {% include footer.html %}
  </body>
</html>